In [4]:
!pip install pyarrow

Requirement already satisfied: pyarrow in /opt/anaconda3/lib/python3.9/site-packages (10.0.1)
Requirement already satisfied: numpy>=1.16.6 in /opt/anaconda3/lib/python3.9/site-packages (from pyarrow) (1.21.5)
Requirement already satisfied: dask in /opt/anaconda3/lib/python3.9/site-packages (2022.7.0)
Requirement already satisfied: partd>=0.3.10 in /opt/anaconda3/lib/python3.9/site-packages (from dask) (1.2.0)
Requirement already satisfied: cloudpickle>=1.1.1 in /opt/anaconda3/lib/python3.9/site-packages (from dask) (2.0.0)
Requirement already satisfied: packaging>=20.0 in /opt/anaconda3/lib/python3.9/site-packages (from dask) (21.3)
Requirement already satisfied: pyyaml>=5.3.1 in /opt/anaconda3/lib/python3.9/site-packages (from dask) (6.0)
Requirement already satisfied: toolz>=0.8.2 in /opt/anaconda3/lib/python3.9/site-packages (from dask) (0.11.2)
Requirement already satisfied: fsspec>=0.6.0 in /opt/anaconda3/lib/python3.9/site-packages (from dask) (2022.7.1)
Requirement already satisfied: pyparsing!=3.0.5,>=2.0.2 in /opt/anaconda3/lib/python3.9/site-packages (from packaging>=20.0->dask) (3.0.9)
Requirement already satisfied: locket in /opt/anaconda3/lib/python3.9/site-packages (from partd>=0.3.10->dask) (1.0.0)

In [13]:
import pandas as pd
import pyarrow as pa
import pyarrow.parquet as pq

In [7]:
json_file = '/Users/dixon/Downloads/yelp_dataset/yelp_academic_dataset_user.json'

In [15]:
def convert_json_to_csv(json_file_path)
    # Read the JSON file in chunks, to avoid MemoryError
    # lines=True for the json file with one object per line
    chunks = pd.read_json(json_file, lines=True, chunksize=200000)
    filename = 'yelp_academic_dataset_user.csv'
    for i, chunk in enumerate(chunks):
        chunk.to_csv(filename,
            header=(i==0), mode='a')

In [17]:
df = pd.read_csv('/Users/dixon/Documents/Untitled Folder/yelp_academic_dataset_user.csv')

,Unnamed: 0,user_id,name,review_count,yelping_since,useful,funny,cool,elite,friends,...,compliment_more,compliment_profile,compliment_cute,compliment_list,compliment_note,compliment_plain,compliment_cool,compliment_funny,compliment_writer,compliment_photos
0,0,qVc8ODYU5SZjKXVBgXdI7w,Walker,585,2007-01-25 16:47:26,7217,1259,5994,2007,"NSCy54eWehBJyZdG2iE84w, pe42u7DcCH2QmI81NX-8qA...",...,65,55,56,18,232,844,467,467,239,180
1,1,j14WgRoU_-2ZE1aw1dXrJg,Daniel,4333,2009-01-25 04:35:42,43091,13066,27281,"2009,2010,2011,2012,2013,2014,2015,2016,2017,2...","ueRPE0CX75ePGMqOFVj6IQ, 52oH4DrRvzzl8wh5UXyU0A...",...,264,184,157,251,1847,7054,3131,3131,1521,1946
2,2,2WnXYQFK0hXEoTxPtV2zvg,Steph,665,2008-07-25 10:41:00,2086,1010,1003,"2009,2010,2011,2012,2013","LuO3Bn4f3rlhyHIaNfTlnA, j9B4XdHUhDfTKVecyWQgyA...",...,13,10,17,3,66,96,119,119,35,18
3,3,SZDeASXq7o05mMNLshsdIA,Gwen,224,2005-11-29 04:38:33,512,330,299,"2009,2010,2011","enx1vVPnfdNUdPho6PH_wg, 4wOcvMLtU6a9Lslggq74Vg...",...,4,1,6,2,12,16,26,26,10,9
4,4,hA5lMy-EnncsH4JoR-hFGQ,Karen,79,2007-01-05 19:40:59,29,15,7,NaN,"PBK4q9KEEBHhFvSXCUirIw, 3FWPpM7KU1gXeOM_ZbYMbA...",...,1,0,0,0,1,1,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1987892,1987892,fB3jbHi3m0L2KgGOxBv6uw,Jerrold,23,2015-01-06 00:31:31,7,0,0,NaN,None,...,0,0,0,0,0,0,0,0,0,0
1987893,1987893,68czcr4BxJyMQ9cJBm6C7Q,Jane,1,2016-06-14 07:20:52,0,0,0,NaN,None,...,0,0,0,0,0,0,0,0,0,0
1987894,1987894,1x3KMskYxOuJCjRz70xOqQ,Shomari,4,2017-02-04 15:31:58,1,1,0,NaN,None,...,0,0,0,0,0,0,0,0,0,0
1987895,1987895,ulfGl4tdbrH05xKzh5lnog,Susanne,2,2011-01-14 00:29:08,0,0,0,NaN,None,...,0,0,0,0,0,0,0,0,0,0
1987896,1987896,wL5jPrLRVCK_Pmo4lM1zpA,Isa,2,2020-12-19 02:32:39,0,0,0,NaN,None,...,0,0,0,0,0,0,0,0,0,0